fieldset {
    width: 450px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: left;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

legend {
    background-color: rgb(200, 196, 196);
    border: 1px solid;
    border-radius: 10px;
    padding: 10px, 20px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    border: 1px solid black;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    padding-bottom: 5px;
}

.title {
    float: left;
    width: 100px;
    text-align: right;
    padding-right: 10px;
}

table{
    border-spacing: 0px;
}

th, td {
    width: 120px;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
