body,
p,
ul,
li,
form,
input,
textarea,
button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}



header {
    background-color: #333;
    color: #fff;
    padding: 10px ;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-flex;
    justify-content: center;
}

header nav ul li a {

    color: #fff;
    text-decoration: none;
    padding: 10px;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

img.align {
    float: left;
    margin-left: 132px;
    width: 600px;
    height: 500px;
}

img.align-left {
    float: left;
    margin-left: 132px;
    width: 400px;
    height: 300px;
}

img.align-right {
    float: right;
    margin-right: 132px;
    width: 400px;
    height: 300px;
}

.section {
    text-align: center;
    display: inline-flex;
    margin-top: 30px;
}

img.size {
    width: 350px;
    height: 350px;
    padding: 5px;
}

.content {
    padding: 5px;
}

.background {
    /* background-image:  url("https://media.istockphoto.com/id/1394017961/photo/coffee-beans-background-roasted-coffee-beans-view-from-above-coffee-concept-mock-up.webp?b=1&s=170667a&w=0&k=20&c=LVj75xGlUZB_4I9Dn-BTkARsHlipYbvOUXdgqUV5dso="); */
   background-color: #eedac2;
    background-repeat: repeat;
    background-attachment: fixed;

}